@model Reparacion

@{
    ViewData["Title"] = "Details";
}



<div class="container justify-content-center bg-secondary col-6" >
    <h4 class="text-center">Detalles de la reparación</h4>
    <hr />
    <dl class="row ">
        <dt class = "col-6 " >
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-6 ">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-6 " >
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-6 ">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
         <dt class = "col-6 " >
            @Html.DisplayNameFor(model => model.FechaReparacion)
        </dt>
        <dd class = "col-6 ">
            @Html.DisplayFor(model => model.FechaReparacion)
        </dd>
         <dt class = "col-6 " >
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>
        <dd class = "col-6 ">
            @Html.DisplayFor(model => model.Detalle)
        </dd>
        <dt class = "col-6 ">
            Cliente
        </dt>
        <dd class = "col-6 ">
            @Model.DatosOrden.DatosCliente.Nombre,    @Model.DatosOrden.DatosCliente.Apellido,  @Model.DatosOrden.DatosCliente.Domicilio
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Volver al listado</a>
</div>