@model Reparacion
@{
    ViewData["Title"] = "Editar";
    int id = Model == null? 0: Model.Id;
    
}
<div class="row">
     <div class="container justify-content-left btn-group-vertical col-2" aria-label="Basic example">
        <div class="btn btn-warning"><a class="py-2 d-none d-md-inline-block" asp-controller="Cliente"
            asp-action="Editar"><span class="lnr lnr-enter"></span> CREAR CLIENTE</a></div>
    <div class="btn btn-success "><a class="py-2 d-none d-md-inline-block" asp-controller="Marca"
            asp-action="Editar"><span class="lnr lnr-enter"></span> CREAR MARCA</a></div>
    <div class="btn btn-info"><a class="py-2 d-none d-md-inline-block" asp-controller="Aparato"
            asp-action="Editar"><span class="lnr lnr-enter"></span> CREAR APARATO</a></div>
     </div>


   <div class="container justify-content-center col-10">
<h4>Reparación</h4>
<hr />
    <div>
       <form asp-action="Guardar" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-3">
                <label  class="control-label">CODIGO</label>
                <input name="Id" class="form-control"  value="@id" readonly/>             
            </div>
            <div class="form-group  col-3">
                <label asp-for="IdOrden" class="control-label"></label>
                <select class="form-control"  name="IdOrden" >
                    @foreach (var item in (IList<OrdenReparacion>)ViewBag.Ordenes)
                    {
                        @:<option @(item.Id == Model?.IdOrden ? "selected" : "") value="@item.Id " >@item.CodigoReparacion </option>
                    }
                </select>
            </div>
            <div class="form-group col-3">
                <label asp-for="FechaReparacion" class="control-label"></label>
                <input asp-for="FechaReparacion" class="form-control" />
                <span asp-validation-for="FechaReparacion" class="text-danger"></span>
            </div>
             <div class="form-group col-12">
                <label asp-for="Detalle" class="control-label"></label>
                <input asp-for="Detalle" class="form-control" />
                <span asp-validation-for="Detalle" class="text-danger"></span>
            </div>
             <div class="form-group col-6">
                <label asp-for="FechaEntrega" class="control-label"></label>
                <input asp-for="FechaEntrega" class="form-control" />
                <span asp-validation-for="FechaEntrega" class="text-danger"></span>
            </div>
            
           
            <div class="form-group col-6">
                <label asp-for="Pago" class="control-label"></label>
                <input asp-for="Pago" class="form-control" />
                <span asp-validation-for="Pago" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
        </div>

    <a asp-action="Index">Volver al listado</a>
</div>
    </div>
     @if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

</div>
<script src="path/to/select2.min.js"></script>
<script>
$(document).ready(function() {
    $('#selectClientes').select2();
});
</script>
<script>
$(document).ready(function() {
    $('#selectMarca').select2();
});
</script>
<script>
$(document).ready(function() {
    $('#selectAparatos').select2();
});
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



 