@model Reparacion
@{
    ViewData["Title"] = "Editar";
    int id = Model == null? 0: Model.Id;
    
}
<div class="row">
   <div class="container justify-content-center col-10">
        <h4>Reparación</h4>
        <hr />
    <div>
       <form asp-action="Guardar" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-3">
                 <label class="control-label">CODIGO</label>
                    <input type="hidden" name="Id" value="@id" />
                <span class="form-control-plaintext">@id</span> <!-- Muestra el valor en texto, si es necesario -->
            </div>
            <div class="form-group col-3">
                <label asp-for="Codigo" class="control-label"></label>
                 @if (id == 0) {
                    <select class="form-control" name="Codigo">
                     @foreach (var item in (IList<OrdenReparacion>)ViewBag.Ordenes)
                     {
                        <option value="@item.CodigoReparacion">@item.CodigoReparacion</option>
                     }
                    </select>
                } else {
                     <input type="text" class="form-control" name="Codigo" value="@Model.Codigo" readonly />
                         }
            </div>
            <div class="form-group col-3">
                <label asp-for="FechaReparacion" class="control-label"></label>
                <input asp-for="FechaReparacion" class="form-control" id="fechaReparacion" />
                <span asp-validation-for="FechaReparacion" class="text-danger"></span>
            </div>
             <div class="form-group col-12">
                <label asp-for="Detalle" class="control-label"></label>
                <input asp-for="Detalle" class="form-control" />
                <span asp-validation-for="Detalle" class="text-danger"></span>
            </div>
             <div class="form-group col-6">
                <label asp-for="FechaEntrega" class="control-label"></label>
                <input asp-for="FechaEntrega" class="form-control"id="fechaEntrega" />
                <span asp-validation-for="FechaEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
        </div>

    <a asp-action="Index">Volver al listado</a>
</div>
    </div>
     @if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

</div>
<script src="path/to/select2.min.js"></script>
<script>
$(document).ready(function() {
    $('#selectClientes').select2();
});
</script>
<script>
$(document).ready(function() {
    $('#selectMarca').select2();
});
</script>
<script>
$(document).ready(function() {
    $('#selectAparatos').select2();
});
</script>
<script>
    // Obtener la fecha de hoy
    const hoy = new Date();
    // Formatear la fecha en el formato YYYY-MM-DD
    const anio = hoy.getFullYear();
    const mes = String(hoy.getMonth() + 1).padStart(2, '0'); // Sumar 1 porque getMonth() devuelve un índice de 0 a 11
    const dia = String(hoy.getDate()).padStart(2, '0');
    const fechaFormateada = `${anio}-${mes}-${dia}`;

    // Establecer la fecha en el campo de entrada
    document.getElementById('fechaReparacion').value = fechaFormateada;
     document.getElementById('fechaEntrega').value = fechaFormateada;
    
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



 