@model IEnumerable<Reparacion>


@{
    ViewData["Title"] = "Index";
}

<div >
    <h4> Listado de reparaciones</h4>

<p>
    <a asp-action="Editar"method = "post">CREAR NUEVA REPARACION</a>
</p>

<table id="miTabla" class="table table-striped table-bordered">
    <thead> 
        <tr>
       
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
               CLIENTE
            </th>
             <th>
               DOMICILIO
            </th>
             <th>
                @Html.DisplayNameFor(model => model.FechaReparacion)
            </th>
             <th>
               ACCIONES
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatosOrden.DatosCliente.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatosOrden.DatosCliente.Domicilio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaReparacion )
                </td>
               
                <td>
                     <a href="#"onclick="agregarPago('@item.Codigo')" ><i class="fa fa-plus " title="AGREGAR PAGO" style="font-size:25px;"></i></a>
                    <a asp-action="Detalles" asp-route-id=@item.Id><i class="fa fa-eye text-secondary" style="font-size:25px;"></i></a>
                    <a asp-action="Editar" asp-route-id=@item.Id><i class="fa fa-pencil text-success" style="font-size:25px;"></i></a>
                    <a href="#"onclick="eliminar('@item.Id', '@item.Codigo')" ><i class="fa fa-trash " title="eliminar" style="font-size:25px;"id="eli"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
<form class="modal" tabindex="-1" asp-action="Eliminar" id="eliminar">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar la reparacion: </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="Id" value="" id ="eliminar_id">
        <p><span id="eliminar_nombre"></span></p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger" >Eliminar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
    </div>
  </div>
</div>
</form>
<div class="modal fade" id="agregarPago" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="miModalLabel">Formulario de Pago</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Guardar" asp-controller = "Pago" method="post" class="row g-3">
                    <div class="form-group col-6">
                        <label name="Reparacion" class="control-label">REPARACION</label>
                         <input name="Reparacion" class="form-control"  id="reparacion" readonly />
                    </div>
                    <div class="form-group col-6">
                        <label name="Fecha" class="control-label">FECHA</label>
                         <input type="date" name="Fecha" class="form-control" id="fecha"/>
                    </div>
                    <div class="form-group col-6">
                        <label name="Modo" class="control-label">MODO</label>
                        <select class="form-control" name="Modo" id="modo">
                            @foreach (var item in (List<string>)ViewBag.Modo)
                            {
                                <option value="@item"> @item</option>
                            }

                        </select>
                    </div>
                    <div class="form-group col-6">
                        <label name="Importe" class="control-label">IMPORTE</label>
                         <input name="Importe" class="form-control">
                          <span name="Importe" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        function eliminar(id, codigo){
            document.querySelector("#eliminar_id").value ="Deseas eliminar la reparacion" + id;
            document.querySelector("#eliminar_nombre").innerHTML = "que peretenece la orden " +codigo + "?";
            $("#eliminar").modal("show");
        }
    </script>
     <script>
        function agregarPago(codigo){
            document.querySelector("#reparacion").value = codigo;
            $("#agregarPago").modal("show");
        }
    </script>
    <script>
    // Obtener la fecha de hoy
    const hoy = new Date();
    // Formatear la fecha en el formato YYYY-MM-DD
    const anio = hoy.getFullYear();
    const mes = String(hoy.getMonth() + 1).padStart(2, '0'); // Sumar 1 porque getMonth() devuelve un índice de 0 a 11
    const dia = String(hoy.getDate()).padStart(2, '0');
    const fechaFormateada = `${anio}-${mes}-${dia}`;

    // Establecer la fecha en el campo de entrada
    document.getElementById('fecha').value = fechaFormateada;
    
</script>
}