@model SERVITEC_FENIX.Models.Gasto;

@{
    ViewData["Title"] = "Details";
}



<div class="container justify-content-center  col-6"  id ="table">
    <h4 class="text-center">Detalles del gasto</h4>
    <hr />
     <dl class="row ">
        <dt class = "col-6 " >
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-6 ">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-6 ">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-6 ">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-6 ">
            @Html.DisplayNameFor(model => model.Modo)
        </dt>
        <dd class = "col-6 ">
            @Html.DisplayFor(model => model.Modo)
        </dd>
        <dt class = "col-6 ">
            @Html.DisplayNameFor(model => model.Importe)
        </dt>
        <dd class = "col-6 ">
            @Html.DisplayFor(model => model.Importe)
        </dd>
        <dt class = "col-6 ">
            @Html.DisplayNameFor(model => model.Anulado)
        </dt>
        <dd class = "col-6 ">
            @Html.DisplayFor(model => model.Anulado)
        </dd>
        <dt class = "col-6 ">
            @Html.DisplayNameFor(model => model.NombreGasto)
        </dt>
        <dd class = "col-6 ">
            @Html.DisplayFor(model => model.NombreGasto)
        </dd>
            @if ( Model.Anulado == "SI")
            {
                <dt class="col-6">
                    ANULADO
                </dt>
                <dd class="col-6">
                    SI
                </dd>
            }
    </dl>
</div>
<div>
    <a asp-action="Index">Volver al listado</a>
</div>