@model IEnumerable<OrdenReparacion>


@{
    ViewData["Title"] = "Index";
   

}
 <div class="btn"><a class="py-2 d-none d-md-inline-block" asp-controller="Cliente"
            asp-action="Editar"><span class="lnr lnr-enter"></span> CREAR CLIENTE</a></div>
 <div class="btn "><a class="py-2 d-none d-md-inline-block" asp-controller="Marca"
            asp-action="Editar"><span class="lnr lnr-enter"></span> CREAR MARCA</a></div>
    <div class="btn"><a class="py-2 d-none d-md-inline-block" asp-controller="Aparato"
            asp-action="Editar"><span class="lnr lnr-enter"></span> CREAR APARATO</a></div>
<div  class = "container justify-content-center  col" >
    <h4> Listado de órdenes de reparación</h4>

<p>
     <a href="#"onclick="crearOrdenReparacion()" ><i class="fa fa-plus " title="CREAR NUEVA ORDEN DE REPARACION" style="font-size:25px";></i></a>
</p>
<div >
    <table id="miTabla" class="table table-striped table-bordered">
    <thead> 
        <tr>
            <th >
                REPARACION 
            </th>
          
             <th >
                @Html.DisplayNameFor(model => model.CodigoReparacion)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.NroSerie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRecepcion)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.DatosCliente.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatosCliente.Nombre)
            </th>
             <th>
               ACCIONES
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
            <tr>

                <td>
                    <a href="#"onclick="crearReparacion('@item.CodigoReparacion')" ><i class="fa fa-plus " title="CREAR REPARACION" style="font-size:30px;"id="eli"></i></a>
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoReparacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NroSerie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRecepcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatosCliente.Apellido )
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatosCliente.Nombre)
                </td>
                
                <td>
                    <a asp-action="Detalles" asp-route-id=@item.Id><i class="fa fa-eye text-secondary" style="font-size:25px;"></i></a>
                    <a asp-action="Editar" asp-route-id=@item.Id><i class="fa fa-pencil text-warning" style="font-size:25px;"></i></a>
                    <a href="#"onclick="eliminar('@item.Id','@item.CodigoReparacion',  '@item.DatosCliente.Nombre',' @item.DatosCliente.Apellido ')" ><i class="fa fa-trash " title="eliminar" style="font-size:25px;"id="eli"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>
<form class="modal" tabindex="-1" asp-action="Eliminar" id="eliminar">
    
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar la orden de  reparación de: </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="Id" value="" id ="eliminar_id">
        <p><span id="eliminar_nombre"></span></p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger" >Eliminar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
    </div>
  </div>
</div>
</form>
<-- crear reparacion--!>
<div class="modal fade" id="crearReparacion" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Agregar Reparación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Guardar" asp-controller="Reparacion" class="row g-3">
                    <div class="text-danger">
                        <!-- Aquí podrías incluir el resumen de validación -->
                    </div>

                    <div class="form-group col-6">
                        <label class="control-label">CODIGO DE REPARACION</label>
                        <input  class="form-control" id="codigo" readonly name="Codigo"/>
                    </div>
                    <div class="form-group col-6">
                        <label class="control-label">Fecha de Reparación</label>
                        <input type="date" name="FechaReparacion" class="form-control" id="fechaReparacion" required />
                        <span class="text-danger">
                            <!-- Aquí podrías incluir la validación para FechaReparacion -->
                        </span>
                    </div>
                    <div class="form-group col-12">
                        <label class="control-label">Detalle</label>
                        <input type="textBox" name="Detalle" class="form-control" required  />
                        <span class="text-danger">
                            <!-- Aquí podrías incluir la validación para Detalle -->
                        </span>
                    </div>
                    <div class="form-group col-6">
                        <label class="control-label">Fecha de Entrega</label>
                        <input type="date" name="FechaEntrega" id="fechaEntrega" class="form-control" required  />
                        <span class="text-danger">
                            <!-- Aquí podrías incluir la validación para FechaEntrega -->
                        </span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<-- formulario para crear Orden de reparacion--!>
<

<div class="modal fade" id="crearOrdenReparacion" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <input type="hidden" name="Id" value="0">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Agregar Reparación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Guardar"  class="row g-3">
                     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-6">
                <label for="FechaRecepcion" class="control-label">FECHA DE RECEPCION</label>
                <input name="FechaRecepcion " class="form-control" id="fechaRecepcion">
                <span for="FechaRecepcion" class="text-danger"></span>
            </div>
           
            <div class="form-group col-6">
                    <label for="IdCliente" class="control-label">CLIENTE</label>
                    <select class="form-control"  name="IdCliente" id="selectClientes" >
                        @foreach (var item in (IList<Cliente>)ViewBag.Clientes)
                        {
                            @:<option  value="@item.Id">@item.Apellido @item.Nombre </option>
                        }
                    </select>
            </div>
            <div class="form-group  col-6">
                <label for="IdAparato" class="control-label">APARATO</label>
                <select class="form-control"  name="IdAparato" id="selectAparatos"  >
                    @foreach (var item in (IList<Aparato>)ViewBag.Aparatos)
                    {
                        @:<option value="@item.Id">@item.NombreA </option>
                    }
                </select>
            </div>
             <div class="form-group  col-6">
                <label for="IdMarca" class="control-label">MARCA</label>
                <select class="form-control"  name="IdMarca" id="selectMarca">
                    @foreach (var item in (IList<Marca>)ViewBag.Marcas)
                    {
                        @:<option value="@item.Id">@item.NombreM </option>
                    }
                </select>
            </div>
             <div class="form-group">
                <label for="Falla" class="control-label">FALLA</label>
                 <textarea class="form-control" rows="3" name="Falla" required></textarea>
                <span for="Falla" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label for="NroSerie" class="control-label">NRO DE SERIE</label>
                <input name="NroSerie" class="form-control" required/>
                <span for="NroSerie" class="text-danger"></span>
            <div class="form-group col-6">
                <label for="Valor" class="control-label">VALOR PRESUPUESTADO</label>
                <input name="Valor" class="form-control" required />
                <span for="Valor" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        function eliminar(id, codigo, nombre, apellido){
            document.querySelector("#eliminar_id").value = id;
            document.querySelector("#eliminar_nombre").innerHTML =codigo + " " +" de "+ nombre + " "+ apellido;
            $("#eliminar").modal("show");
        }
    </script>
    
    <script>
        function crearOrdenReparacion(){
            $("#crearOrdenReparacion").modal("show");
        }
    </script>
    <script>
        function crearReparacion(codigo){
            document.querySelector("#codigo").value = codigo;
            $("#crearReparacion").modal("show");
        }
    </script>
    <script>
    // Obtener la fecha de hoy
    const hoy = new Date();
    // Formatear la fecha en el formato YYYY-MM-DD
    const anio = hoy.getFullYear();
    const mes = String(hoy.getMonth() + 1).padStart(2, '0'); // Sumar 1 porque getMonth() devuelve un índice de 0 a 11
    const dia = String(hoy.getDate()).padStart(2, '0');
    const fechaFormateada = `${anio}-${mes}-${dia}`;

    // Establecer la fecha en el campo de entrada
    document.getElementById('fechaReparacion').value = fechaFormateada;
    document.getElementById('fechaEntrega').value = fechaFormateada;
    document.getElementById('fechaRecepcion').value = fechaFormateada;
</script>
}