@model IEnumerable<Pago>
@{
    ViewData["Title"] = "Index";
}
<div class="col-6" style="background-color: rgb(167, 201, 245);">
    <form method="get" asp-action="Index" class="row g-3>
        <div class="form-row m-2" >
            <div class="form-group col-md-4 m-2" >
                <label for="fechaInicio">Fecha Inicio</label>
                <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" />
            </div>
            <div class="form-group col-md-4 m-2">
                <label for="fechaFin">Fecha Fin</label>
                <input type="date" class="form-control" id="fechaFin" name="fechaFin" />
            </div>
            <div class="form-group col-md-2 m-2 align-self-end">
                <button type="submit" class="btn btn-success">Filtrar</button>
            </div>
    </form>
    </div class="form-group col-md-3 m-2">
          @if (ViewBag.TotalRecibido != null)
            {
            <h5 class="col-3 m-2" style="background-color: rgb(5, 248, 78);" >Total Recibido: $ @ViewBag.TotalRecibido</h5>
            }
    </div>   
</div>
<div class="container justify-content-center  col-11 ">
            <h4> Listado de pagos</h4>

            <p>
                <a asp-action="Editar" method="post">CREAR NUEVO </a>
            </p>


         <table id="miTabla" class="table table-striped table-bordered col-11">
             <thead>
                 <tr>
                     <th>
                         @Html.DisplayNameFor(model => model.Id)
                     </th>
                     <th>
                         @Html.DisplayNameFor(model => model.Reparacion)
                     </th>
                     <th>
                         @Html.DisplayNameFor(model => model.Fecha)
                     </th>
                     <th>
                         @Html.DisplayNameFor(model => model.Modo)
                     </th>
                     <th>
                         @Html.DisplayNameFor(model => model.Importe)
                     </th>
                     <th>
                         @Html.DisplayNameFor(model => model.Anulado)
                     </th>

                     <th>
                         ACCIONES
                     </th>

                 </tr>
             </thead>
             <tbody>
                 @foreach (var item in Model)
                 {
                     <tr>
                         <th>
                             @Html.DisplayFor(model => item.Id)
                         </th>
                         <th>
                             @Html.DisplayFor(model => item.Reparacion)
                         </th>
                         <th>
                             @Html.DisplayFor(model => item.Fecha)
                         </th>
                         <th>
                             @Html.DisplayFor(model => item.Modo)
                         </th>
                         <th>
                             @Html.DisplayFor(model => item.Importe)
                         </th>
                         <th>
                             @Html.DisplayFor(model => item.Anulado)
                         </th>

                         <td>
                             <a asp-action="Detalles" asp-route-id=@item.Id title="Ver Detalle"><i class="fa fa-eye "
                                     style="font-size:25px;" id="detalles"></i></a>
                             <a asp-action="Editar" asp-route-id=@item.Id title="Editar"><i class="fa fa-pencil "
                                     style="font-size:25px;" id="edi"></i></a>
                             <a href="#" onclick="eliminar('@item.Id')"><i class="fa fa-trash " title="anular"
                                     style="font-size:25px;" id="eli"></i></a>

                         </td>
                     </tr>
                 }
             </tbody>
         </table>
</div>
<form class="modal" tabindex="-1" asp-action="Eliminar" id="modal_eliminar_Pago">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">DESEAS ANULAR A:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="Id" value="" id="id">
                <p><span id="Pago_eliminar_id"></span></p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger">Anular</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        function eliminar(id) {
            document.querySelector("#id").value = id;
            document.querySelector("#Pago_eliminar_id").innerHTML = id;
            $("#modal_eliminar_Pago").modal("show");
        }
    </script>
    <script>
    // Obtener la fecha de hoy
    const hoy = new Date();
    // Formatear la fecha en el formato YYYY-MM-DD
    const anio = hoy.getFullYear();
    const mes = String(hoy.getMonth() + 1).padStart(2, '0'); // Sumar 1 porque getMonth() devuelve un índice de 0 a 11
    const dia = String(hoy.getDate()).padStart(2, '0');
    const fechaFormateada = `${anio}-${mes}-${dia}`;
    // Establecer la fecha en el campo de entrada
    document.getElementById('fechaInicio').value = fechaFormateada;
    document.getElementById('fechaFin').value = fechaFormateada;
    
</script>
}