@model IEnumerable<Cliente>


@{
    ViewData["Title"] = "Index";
}

<h4> Lista de clientes</h4>

<p>
    <a asp-action="Editar"method = "post">CREAR NUEVO CLIENTE</a>
</p>
<table class="table table-info">
    <thead> 
        <tr>
            <th >
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
             <th>
               ACCIONES
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                
               
                <td>
                    <a asp-action="Detalles" asp-route-id=@item.Id><i class="fa fa-eye text-secondary" style="font-size:25px;"></i></a>
                    <a asp-action="Editar" asp-route-id=@item.Id><i class="fa fa-pencil text-success" style="font-size:25px;"></i></a>
                    <a asp-action="Eliminar" asp-route-id=@item.Id><i class="fa fa-trash text-danger" style="font-size:25px;"></i></a>
                  
                  
                </td>
            </tr>
        }
    </tbody>
</table>