@model IEnumerable<Cliente>


@{
    ViewData["Title"] = "Index";
}

<h4> Lista de clientes</h4>

<p>
    <a asp-action="Editar" id ="crear" method = "post"></a><i class="fa fa-plus " title="CREAR NUEVO CLIENTE" style="font-size:25px";></i></a>
</p>
<table id="miTabla" class="table table-striped table-bordered" >
    <thead> 
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
             <th>
               ACCIONES
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                
               
                <td>
                    <a asp-action="Detalles" asp-route-id=@item.Id><i class="fa fa-eye text-secondary"title="VER DETALLES" style="font-size:25px;" id="detalles"></i></a>
                    <a asp-action="Editar" asp-route-id=@item.Id><i class="fa fa-pencil text-success" title="EDITAR" style="font-size:25px;" id="edi"></i></a>
                    <a href="#"onclick="eliminar('@item.Id', '@item.Nombre', '@item.Apellido')" ><i class="fa fa-trash " title="ELIMINAR" style="font-size:25px;"id="eli"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<form class="modal" tabindex="-1" asp-action="Eliminar" id="eliminar">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="Id" value="" id ="eliminar_id">
        <p><span id="eliminar_nombre"></span></p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger" >Eliminar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
    </div>
  </div>
</div>
</form>
@section Scripts{
    <script>
        function eliminar(id, nombre, apellido){
            document.querySelector("#eliminar_id").value = id;
            document.querySelector("#eliminar_nombre").innerHTML = nombre + " "+ apellido;
            $("#eliminar").modal("show");
        }
    </script>
}